<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Reports\Model\ResourceModel\Quote\Item\Collection" type="Radosav\Reportfix\Model\Magento\Reports\ResourceModel\Quote\Item\Collection" />
    <preference for="Magento\Integration\Helper\Data" type="Radosav\Reportfix\Helper\Magento\Integration\Data" />
		
</config>
